body {
  background-color: #282829;
  background-image: url(/blog/assets/images/background60.png);
  background-repeat: repeat;
  font-size: 100%; /* Base font size is 14px*/
  font-style: normal;
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 1.5;
  text-align: left;
}

a {
  text-decoration: none;
}

a:link {
  color: #6A2471;
}

a:visited {
  color: #36213F;
}

a:hover {
  background-color: #6A2471;
  color: #56B035;
}

a:active {
  color: #6A2471;
}

a#active_now {
  color: #6A2471;
}

a#active_now:hover {
  color: #56B035;
}

p {
  font-size: 120%;
}

.logolink:hover {
  opacity: .9;
}

.contentpic {
  float: right;
}
.reference {
  text-decoration: underline;
}

.readmore {
 font-size: 150%;
}

.body {
  margin: 0 auto;
  width: 70%;
  clear: both;
}

.mainHeader img {
  width: 20%;
  height: auto;
  margin: 2% 0;
}

.mainHeader nav {
  background-color: #56B035;
  height: 60px;
  border-radius: 5px;
  border-style: ridge;
  border-color: #6A2471;
  font-size: 150%;
  -moz-border-radius: 5px; /* Mozilla*/
  -webkit-border-radius: 5px; /*Visible in browsers based on webkit*/
}

.mainHeader nav ul {
  list-style: none;
  margin: 0 auto;
}

.mainHeader nav ul li {
  float: left;
  display: inline;

}

.mainHeader nav a:link, .mainHeader nav a:visited {
  color: #FFF;
  display: inline-block;
  padding: 12px 60px 28px;
  height: 20px;
}

.mainHeader nav a:hover, .mainHeader nav .active nav .active a:link, .mainHeader nav .active a:visited {
  background-color: #6A2471;
  color: #56B035;
  text-shadow: none;
}

.mainHeader nav a:active {
  color: #6A2471;
}

.mainHeader nav ul li a {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mainContent {
  line-height: 25px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.content {
  width: 70%;
  float: left;
}

.post1, .post2, .post3, .post4, .post5, .post6 {  /*post layout*/
  background-color: #FFF;
  border-radius: 5px;
  border-style: ridge;
  border-color: #6A2471;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}

.date {
  font-style: italic;
  color: #56B035;
  font-size: 100%;
}
.post {
  font-size: 120%;
}

.highlight {
  color: #6A2471;
  font-size: 120%;
}

.highlight_post {
  font-size: 120%;
}

.top-sidebar, .middle-sidebar, .bottom-sidebar {
  width: 21%;
  float: left;
  background-color: #FFF;
  border-radius: 5px;
  border-style: ridge;
  border-color: #6A2471;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 1.4% 0 2% 2.5%;
  padding: 2% 3%;
}

.mainFooter {
  width: 100%;
  float: left;
  border-radius: 5px;
  border-style: ridge;
  border-color: #6A2471;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #56B035;
  margin: 2% 0;
}

.mainFooter p {
  width: 92%;
  margin: 2% auto;
  color: #D7D9D3;
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{
  .body {
    margin: 0 auto;
    width: 95%;
  }
  .mainHeader img {
    width: 100%;
  }
  .mainHeader nav {
    height: 160px;
  }

  .mainHeader nav ul {
  padding-left: 0;
  }

  .mainHeader nav ul li {
   width: 100%;
   text-align: center;
  }

  .mainHeader nav a:link, .mainHeader nav a:visited {
    padding: 10px 25px;
    height: 20px;
    display: block;
  }

  .content {
    width: 100%;
    float: left;
    margin-top: 2%;
  }

  .post-info {
    display: none;
  }

  .post1, .post2, .post3, .post4, .post5, .post6 { /*post layout*/
    margin: 3% 0;
  }

  .top-sidebar,.middle-sidebar, .bottom-sidebar {
    width: 94%;
    margin: 1.4% 0 2% 0;
    padding: 2% 3%;
    }
}
